<%- layout('layouts/Boilerplate') %> 

    <link rel="stylesheet" href="/stylesheets/medicine.css">  
      <h1>Electronic Gadgets</h1>
  
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/electric-kettle-with-handle-isolated-white-background_1308-66623.jpg?size=338&ext=jpg&ga=GA1.2.998241298.1650655839" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Kettle</h5>
                  <div class="dropdown">
                    <a class="btn btn-primary" href="electronic/catalog/kettle">select</a>
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/iron-clothes-electric-laundry-service_24877-57994.jpg?t=st=1650699407~exp=1650700007~hmac=14d2a97137600a62f1f1bf2621081ee1dfd27f80763c932266d9bb0076cd0fd4&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Iron</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                    <a class="btn btn-primary" href="electronic/catalog/iron">select</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/hair-dryer-professional-hair-dryer-hairdressers_622487-34.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hair Dryer</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                    <a class="btn btn-primary" href="electronic/catalog/hairDryer">select</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/hair-straightener-illustration-transparent-background_565844-424.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Straightener</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                    <a class="btn btn-primary" href="electronic/catalog/starightener">select</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://cdn.vectorstock.com/i/1000x1000/19/03/electric-stove-vector-14181903.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Induction</h5>
                 
                  <div class="dropdown">
                  <!--   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                    <a class="btn btn-primary" href="electronic/catalog/induction">select</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://cdn.vectorstock.com/i/1000x1000/86/07/isometric-bluetooth-speakers-icon-isolated-vector-27548607.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bluetooth Speaker</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                    <a class="btn btn-primary" href="electronic/catalog/blutoothSpeaker">select</a>
                  </div>
                </div>
              </div>
          </div>
          <!-- <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/medicine-pills-blister_1325-135.jpg?t=st=1650698610~exp=1650699210~hmac=2f299d46e8646cf5b60fd7fade7ece6a2d771f48776d4314e6cbddf825f21549&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pain Killers</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                    <a class="btn btn-primary" href="electronic/catalog/starightener">select</a>
                  </div>
                </div>
              </div>
          </div> -->
         <!--  <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/backache-woman-with-pain-neck-back-medical-concept_538002-511.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muscle Pain</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div> -->
        <!--   <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/stomachache-concept-illustration_114360-6751.jpg?t=st=1650699140~exp=1650699740~hmac=59cdf24f0862d2c040d5ef510be057da30f001ae0492e028892f9c2eae5133ee&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Stomach Ache</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div> -->
    <!--       <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/potential-accident-kitchen_24640-78857.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Burn Injury</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div> -->
          <!-- <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/backache-woman-with-pain-neck-back-medical-concept_538002-511.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muscle Pain</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div> -->
    
        </div>
      </div>