<%- layout('layouts/Boilerplate') %> 

    <link rel="stylesheet" href="/stylesheets/medicine.css">  
      <h1>General Stuff</h1>
  
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/badminton-rackets-two-badminton-rackets-located-different-directions-sports-accessories_538993-198.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Badminton Racket</h5>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/silhouette-shuttlecock-badminton-from-bird-feathers-sports-equipment-vector-illustration_501907-1083.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Badminton shuttle</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/illustration-woman-who-relieves-pain-abdominal-area-with-rubber-heating-pad_522705-82.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hot Water Bag</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/retro-bicycle_23-2147501509.jpg?t=st=1650704387~exp=1650704987~hmac=2ca6b98926d0030039bdf4452c4dab2ee915bd00b8a020a72ee572f1a7c9a282&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Bicycle</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/hand-with-mosquito-spray_23-2147942802.jpg?t=st=1650704592~exp=1650705192~hmac=53a9f5a34f58d2637a53b0aa444657a303d97aba8fbd00e8a26b1682ecc91a38&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mosquito Repellant</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/first-aid-kit-realistic-circular-frame-composition-medical-emergency-treatment-supplies-with-bandage-pills_1284-27384.jpg?t=st=1650690285~exp=1650690885~hmac=297c57dd9ea6a0582d5522b420f01513d1232ad84048f7b4cc2185a8270e84d4&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">First Aid</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/medicine-pills-blister_1325-135.jpg?t=st=1650698610~exp=1650699210~hmac=2f299d46e8646cf5b60fd7fade7ece6a2d771f48776d4314e6cbddf825f21549&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pain Killers</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/backache-woman-with-pain-neck-back-medical-concept_538002-511.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muscle Pain</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/stomachache-concept-illustration_114360-6751.jpg?t=st=1650699140~exp=1650699740~hmac=59cdf24f0862d2c040d5ef510be057da30f001ae0492e028892f9c2eae5133ee&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Stomach Ache</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/potential-accident-kitchen_24640-78857.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Burn Injury</h5>
                 
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>