<%- layout('layouts/Boilerplate') %> 

    <link rel="stylesheet" href="/stylesheets/medicine.css">  
      <h1>Medicines</h1>
  
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/headache-concept-illustration_114360-6846.jpg?t=st=1650679619~exp=1650680219~hmac=e05cfa57ae68ac5c75a6fbdce25fe98dc4b2e1e2240104085128774c09038055&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Headache</h5>
                  <div class="dropdown">
                    <a class="btn btn-primary" href="medicine/catalog/headache">select</a>
                  <!--   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/person-with-cold_23-2148485154.jpg?t=st=1650679434~exp=1650680034~hmac=16c8445112b50489aa80535089ddba67bc592e78039d85d88c01850e59c63f76&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Cold</h5>
                 
                  <div class="dropdown">
                    <a class="btn btn-primary" href="medicine/catalog/cold">select</a>
                  <!--   <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/stomachache-concept-illustration_114360-6591.jpg?size=338&ext=jpg&ga=GA1.2.998241298.1650655839" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Acidity</h5>
                 
                  <div class="dropdown">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/acidity">select</a>
                   <!--  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/person-with-cold_23-2148477100.jpg?t=st=1650689838~exp=1650690438~hmac=d79cba174d3dcfe2e5eb5ddcc9ea66784a44f876eb9995a83c68ddfd1a8ee1d8&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Fever</h5>
                 
                  <div class="dropdown">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/fever">select</a>
                  <!--   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/allergy-concept-with-risk-factors-symptoms-flat-vector-illustration_1284-30168.jpg?t=st=1650689915~exp=1650690515~hmac=74dec59999cb2d90e342783cb8e3e1df7d3b23f5143f4883f7ced6dc8e1ee6ca&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Allergy</h5>
                 
                  <div class="dropdown">
                    <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/allergy">select</a>
                   <!--  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/first-aid-kit-realistic-circular-frame-composition-medical-emergency-treatment-supplies-with-bandage-pills_1284-27384.jpg?t=st=1650690285~exp=1650690885~hmac=297c57dd9ea6a0582d5522b420f01513d1232ad84048f7b4cc2185a8270e84d4&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">First Aid</h5>
                 
                  <div class="dropdown">
                   

                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/firstAid">select</a>
                   <!--  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/medicine-pills-blister_1325-135.jpg?t=st=1650698610~exp=1650699210~hmac=2f299d46e8646cf5b60fd7fade7ece6a2d771f48776d4314e6cbddf825f21549&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pain Killers</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/painKiller">select</a>
                  <!--   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/backache-woman-with-pain-neck-back-medical-concept_538002-511.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muscle Pain</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/musclePain">select</a>
                  <!--   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/stomachache-concept-illustration_114360-6751.jpg?t=st=1650699140~exp=1650699740~hmac=59cdf24f0862d2c040d5ef510be057da30f001ae0492e028892f9c2eae5133ee&w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Stomach Ache</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/stomachAche">select</a>
                   <!--  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card" style="width: 14rem;">
                <img src="https://img.freepik.com/free-vector/potential-accident-kitchen_24640-78857.jpg?w=740" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Burn Injury</h5>
                 
                  <div class="dropdown">
                   <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      List of students
                    </button> -->
                    <a class="btn btn-primary" href="medicine/catalog/burnInjury">select</a>
                   <!--  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Tusharika Maheshwari</a></li>
                      <li><a class="dropdown-item" href="#">Soumya Baheti</a></li>
                      <li><a class="dropdown-item" href="#">Vartika Gupta</a></li>
                      <li><a class="dropdown-item" href="#">Rolly Kumari</a></li>
                      <li><a class="dropdown-item" href="#">Shankar</a></li>
                    </ul> -->
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>