
          <%- layout('layouts/Boilerplate') %> 

          <style>
            body {
              height: 100vh;
              background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
              url("https://t3.ftcdn.net/jpg/03/79/57/92/240_F_379579202_Zd1PRVRMBtz7hhq5TBWjeOkArjHRxZOM.jpg");
              background-repeat: repeat;
              background-size: cover;
              background-position: center;
          }
          .personal_data{
            color : white;
          }
          </style>
          
          <h2 style="text-align:center; color:white;">Register</h2>
          <form action="/register" method="POST" class="validated-form" novalidate>
          
            <div class="personal_data">
              <div class="mb-3" style="margin-left:400px;padding-top: 20px; padding-top:10px;" >
                  <label class=" form-label" for="username">Username</label>
                  <input class="form-control" style="width:500px;" type="text"  id="username" placeholder="Username" name="username" required>
                  <div class="valid-feedback">
                   Looks good!
                 </div>
                </div>
          
                 <div class="mb-3" style="margin-left:400px;padding-top: 20px; padding-top:10px;">
                  <label class=" form-label" for="email">Email</label>
                  <input class="form-control" style="width:500px;" type="email"  id="email" name="email" placeholder="Email" required>
                  <div class="valid-feedback">
                   Looks good!
                 </div>
                </div>
          
                <div class="mb-3"  style="margin-left:400px;padding-top: 20px; padding-top:10px;">
                  <label class=" form-label" for="Password">Password</label>
                  <input class="form-control" style="width:500px;"  type="password" plcaeholder="password" id="password"  name="password" required>
                  <div class="valid-feedback">
                   Looks good!
                 </div>
                </div>
          
                 <div class="mb-3"  style="margin-left:400px;padding-top: 20px; padding-top:10px;">
                  <label class=" form-label" for="mobile_num">Mobile Number</label>
                  <input class="form-control" style="width:500px;"  type="text"  id="mobile_num" placeholder="mobile number" name="mobile_num" required>
                  <div class="valid-feedback">
                   Looks good!
                 </div>
                </div>
          
               
          
                
              </div>
          
                <!-- <div class="medicine">
                  <div class="mb-4">
           
                      <label class=" form-label" for="medicine">Medicine</label><br>
                       <input type="checkbox" id="Cold" name="Cold" value="Cold">
                       <label for="Cold"> Cold</label><br>
                       <input type="checkbox" id="Cough" name="Cough" value="Cough">
                       <label for="Cough"> Cough</label><br>
                       <input type="checkbox" id="Acidity" name="Acidity" value="Acidity">
                       <label for="Acidity"> Acidity</label><br>
                       <input type="checkbox" id="Muscle Pain" name="Muscle Pain" value="Muscle Pain">
                       <label for="Muscle Pain"> Muscle Pain</label><br>
                       <input type="checkbox" id="Pain Killers" name="Pain Killers" value="Pain Killers">
                       <label for="Pain Killers"> Pain Killers</label><br>
                       <input type="checkbox" id="First_Aid" name="First_Aid" value="First_Aid">
                       <label for="First Aid"> First Aid</label><br>
                       <input type="checkbox" id="Fever" name="Fever" value="Fever">
                       <label for="Fever"> Fever</label><br>
                       <input type="checkbox" id="Headache" name="Headache" value="Headache">
                       <label for="Headache"> Headache</label><br>
                       <input type="checkbox" id=" Stomach_Ache" name="Stomach_Ache" value="Stomach_Ache">
                       <label for="Stomach Ache"> Stomach Ache</label><br>
                       <input type="checkbox" id="Allergy" name="Allergy" value="Allergy">
                       <label for="Allergy"> Allergy</label><br>
                       <input type="checkbox" id="Burn" name="Burn" value="Burn">
                       <label for="Burn"> Burn</label><br>
          
                     </div>
                    </div>
          
                     <div class="electronic">
                      <div class="mb-4">
               
                          <label class=" form-label" for="electronic">Electronic</label><br>
                           <input type="checkbox" id="" name="Kettle" value="Kettle">
                           <label for="Kettle"> Kettle</label><br>
                           <input type="checkbox" id="Hair_Dryer" name="Hair_Dryer" value="Hair_Dryer">
                           <label for="Hair_Dryer"> Hair Dryer</label><br>
                           <input type="checkbox" id="Induction" name="Induction" value="Induction">
                           <label for="Induction"> Induction</label><br>
                           <input type="checkbox" id="Iron" name="Iron" value="Iron">
                           <label for="Iron"> Iron</label><br>
                           <input type="checkbox" id="Pain Killers" name="Pain Killers" value="Pain Killers">
                           <label for="Hair_Straightener"> Hair Straightener</label><br>
                           <input type="checkbox" id="First_Aid" name="First_Aid" value="First_Aid">
                           <label for="First Aid"> Immersion Rod</label><br>
                           <input type="checkbox" id="Fever" name="Fever" value="Fever">
                           <label for="Fever"> Speaker</label><br>
                           <input type="checkbox" id="Headache" name="Headache" value="Headache">
                           <label for="Headache"> Electric Racket</label><br>
                           <input type="checkbox" id=" Stomach_Ache" name="Stomach_Ache" value="Stomach_Ache">
                           <label for="Stomach Ache"> Stomach Ache</label><br>
                           <input type="checkbox" id="Allergy" name="Allergy" value="Allergy">
                           <label for="Allergy"> Allergy</label><br>
                           <input type="checkbox" id="Burn" name="Burn" value="Burn">
                           <label for="Burn"> Burn</label><br>
              
                         </div>
                        </div> -->
          
          
                        
          
          
                        
              
                     
            <div class="text-center">
              <button class="btn btn-success mt-3 " style="align-self: center;">Register</button>
            </div>
          </form>